div{
    margin: 10px 20px 10px 20px;
    background-color: rgb(230, 117, 11);
}
button{
    background-color: rgb(5, 5, 120);
    color: antiquewhite;
    width: 100px;
    height: 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}
label{
    font-size: 1.2rem;
    font-weight: bold;
}